/node_modules/
/**/node_modules/
.env
**/.env

/blockchain/cache/
/blockchain/artifacts/
/blockchain/cache/**

/.next/
/frontend/.next/
/frontend/out/

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log
logs/
debug.log*

*.tsbuildinfo

/coverage/
/**/coverage/

.vscode/
.idea/

.DS_Store
Thumbs.db